@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Spotify API Project - recommendations </h1>
        <form aps method="post" action="/Home/OnButtonClick">
            
            <button type="submit">Spotify log-in</button>
            
        </form>
</div>
